body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.nav {
  background-color: rgb(51, 134, 202);
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.nav > * {
  margin-left: 20px;
  padding: 20px 0;
}

.nav h1 {
  font-size: 20px;
}

.nav li {
  margin: 15px 0;
}

li a {
  text-decoration: none;
  color: white;
}

span {
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.header {
  box-shadow: 0 5px 5px -5px black;
  padding: 10px 50px;
}

.header .search-container {
  display: flex;
  width: 60%;
}

.search-container input {
  width: 100%;
  margin: 0 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(237, 237, 237);
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting {
  display: flex;
  align-items: center;
}

.greeting-text p {
  margin: 10px;
}

.name-text {
  font-size: 20px;
}

.bottom-header button {
  font-size: 16px;
  border: none;
  background-color: rgb(51, 134, 202);
  color: white;
  padding: 8px 25px;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.content {
  background-color: rgb(241, 241, 241);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column: 2 / 3;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1 / end;
}

.your-projects {
  grid-row: 1 / 3;
}

.your-projects h2,
.your-projects .cards-container {
  margin-left: 20px;
}
.card {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  border-left: 5px solid orange;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-buttons {
  position: absolute;
  bottom: 10%;
  right: 12%;
}

.card-buttons span {
  margin-left: 15px;
  cursor: pointer;
}

.your-projects .card {
  width: 85%;
  height: 180px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}

.card p {
  font-size: 15px;
  opacity: 0.65;
  width: 90%;
  margin-left: 10px;
  padding-top: 10px;
}

.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

h2 {
  font-size: 18px;
  margin: 20px 0;
}

.right-cards {
  border-radius: 10px;
  background-color: white;
  border-left: 5px solid orange;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

section {
  padding: 20px 10px;
  margin: 20px;
  border-bottom: 2px solid grey;
}

section:last-child {
  border-bottom: none;
}

.right-cards h4 {
  opacity: 0.9;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.right-cards p {
  font-size: 14px;
  opacity: 0.65;
}

.trending-user {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px 10px;
}

.right-cards {
  padding: 5px;
}
/* OLD */

/* 
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
}

.nav {
  background-color: rgb(51, 134, 202);
  color: white;
  grid-row: 1 / end;
}

.nav > * {
  margin-left: 20px;
  padding: 20px 0;
}

.nav h1 {
  font-size: 20px;
}

.nav li {
  margin: 15px 0;
}

li a {
  text-decoration: none;
  color: white;
}

span {
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.header {
  box-shadow: 0 5px 5px -5px black;
  padding: 10px 50px;
}

.header .search-container {
  display: flex;
  width: 60%;
}

.search-container input {
  width: 100%;
  margin: 0 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(237, 237, 237);
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting {
  display: flex;
  align-items: center;
}

.greeting-text p {
  margin: 10px;
}

.name-text {
  font-size: 20px;
}

.bottom-header button {
  border: none;
  background-color: rgb(51, 134, 202);
  color: white;
  padding: 8px 25px;
  border-radius: 20px;
  margin: 0 5px;
}

.content {
  background-color: rgb(241, 241, 241);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row: 2 / end;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 1 / end;
}

.your-projects {
  grid-row: 1 / 3;
}
.card {
  width: 300px;
  height: 180px;
  border: 1px solid orange;
  margin: 10px;
}

.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

img {
  border-radius: 50%;
}
.top-header img {
  width: 52px;
  height: 52px;
}

.bottom-header img {
  width: 60px;
  height: 60px;
}

h2 {
  font-size: 18px;
  padding: 10px;
} */
